<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加书籍页面</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!--页头开始-->
            <div class="page-header">
                <h1>添加书籍</h1>
            </div>
            <!--页头结束-->
            <!--表单开始-->
            <form class="form-horizontal" action="/add_book/" method="post">
                <div class="form-group">
                    <label for="bookName" class="col-sm-4 control-label">书籍名称</label>
                    <div class="col-sm-8">
                        <input type="text" name="book_name" class="form-control" id="bookName" placeholder="书籍名称">
                    </div>
                </div>
                <!--出版社下拉框开始-->
                <div class="form-group">
                    <label for="choicePublishing" class="col-sm-4 control-label">选择出版社</label>
                    <div class="select col-sm-8">
                        <select name="publishing_id" id="choicePublishing">
                            {% for publishing in publishing_list %}
                                <option value={{ publishing.id }}>{{ publishing.name }}</option>
                            {% endfor %}

                        </select>
                    </div>

                </div>
                <!--出版社下拉框结束-->
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-default">保存</button>
                    </div>
                </div>
            </form>
            <!--表单结束-->
        </div>
    </div>
</div>

</body>
</html>