<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add_publishing/">添加出版社</a>
<table border="1">
    <thead>
    <tr>
        <th>序号</th>
        <th>出版社ID</th>
        <th>出版社</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for i in ret %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>
                <a href="/edit_publishing/?id={{ i.id }}">编辑</a>
                <a href="/delete_publishing/?id={{ i.id }}">删除</a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>