{% extends 'list/base.html' %}
{% block author_active %}
    active
{% endblock %}

{% block container %}
    <h1 class="page-header">Dashboard</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">s14</h3>
        </div>
        <div class="panel-body">
            <div style="margin-left: -14px;margin-bottom: 45px;">
                <!--输入框开始-->
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <!--输入框结束-->
                <!--添加按钮开始-->
                <a href="/add_author/" class="btn btn-success pull-right">添加</a>
                <!--添加按钮结束-->
            </div>

            <!--表格开始-->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>作者ID</th>
                    <th>作者名字</th>
                    <th>作品</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for author in author_list %}
                    <tr style="text-align: center">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ author.id }}</td>
                        <td>{{ author.name }}</td>
                        <td>
                            {% for book in author.books.all %}
                                {% if forloop.last %}
                                    《{{ book.title }}》
                                {% else %}
                                    《{{ book.title }}》,
                                {% endif %}
                            {% empty %}
                                该作者没有作品
                            {% endfor %}
                        </td>
                        <td>
                            <a href="/delete_author/?shanchu={{ author.id }}">删除</a>
                            <a href="/edit_author/?bianji={{ author.id }}">编辑</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!--表格结束-->
            <!--分页开始-->
            <nav aria-label="Page navigation" class="pull-right">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--分页结束-->
        </div>
    </div>
{% endblock %}