{% extends 'list/base.html' %}
{% block book_active %}
    active
{% endblock %}

{% block container %}
    <h1 class="page-header">Dashboard</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">s14</h3>
        </div>
        <div class="panel-body">
            <div style="margin-left: -14px;margin-bottom: 45px;">
                <!--输入框开始-->
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <!--输入框结束-->
                <!--添加按钮开始-->
                <a href="/add_book/" class="btn btn-success pull-right">添加</a>
                <!--添加按钮结束-->
            </div>

            <!--表格开始-->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center;">序号</th>
                    <th style="text-align: center;">书籍ID</th>
                    <th style="text-align: center;">书籍名称</th>
                    <th style="text-align: center;">出版社名称</th>
                    <th style="text-align: center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books_obj %}
                    <tr style="text-align: center;">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.publishing.name }}</td>
                        <td>
                            <a class="btn btn-info" href="/edit_book/?id={{ book.id }}">编辑</a>
                            <a class="btn btn-danger" href="{% url 'delete' 'book' book.id %}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!--表格结束-->
            <!--分页开始-->
            <nav aria-label="Page navigation" class="pull-right">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--分页结束-->
        </div>
    </div>
{% endblock %}