{% extends 'list/base.html' %}
{% block pubilishing_active %}
    active
{% endblock %}

{% block container %}
    <h1 class="page-header">Dashboard</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">s14</h3>
        </div>
        <div class="panel-body">
            <div style="margin-left: -14px;margin-bottom: 45px;">
                <!--输入框开始-->
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <!--输入框结束-->
                <!--添加按钮开始-->
                <a href="/add_publishing/" class="btn btn-success pull-right">添加出版社</a>
                <!--添加按钮结束-->
            </div>

            <!--表格开始-->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center;">序号</th>
                    <th style="text-align: center;">出版社ID</th>
                    <th style="text-align: center;">出版社</th>
                    <th style="text-align: center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for i in ret %}
                    <tr style="text-align: center;">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.id }}</td>
                        <td>{{ i.name }}</td>
                        <td>
                            <a class="btn btn-info" href="/edit_publishing/?id={{ i.id }}">编辑</a>
                            <a class="btn btn-danger" href="/delete_publishing/?id={{ i.id }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!--表格结束-->
            <!--分页开始-->
            {% load mytags %}
            {% pagination 20 10 %}
            <!--分页结束-->
        </div>
    </div>
{% endblock %}